#header {
    text-align: center;
    background-color: black;
    color: white;
}

body {
    background-color: darkgray;
}

.movie {
    background-color: lightgray;
}

a {
    text-decoration: none;
    color: black;
}